# dependencies
node_modules/

# next.js
web/.next/
web/out/
web/next-env.d.ts
web/tsconfig.tsbuildinfo

# hardhat
contracts/artifacts/
contracts/cache/
contracts/typechain-types/
contracts/deployments/localhost.json

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.log
